@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;700&display=swap');


body{
  font-family: 'Comic Neue', cursive;;
  background-color:whitesmoke;
  color: #54627B;

}

.App{
  max-width: 600px;
  margin: auto;
  padding: 2rem;

  /* background-color: blue; */

}

h2 {
  margin-bottom: -16px;
}

button{
  margin: 5px;
  margin-right: 10px;
  padding: 7px;
  border-radius: 7px;
  color:#54627B;
  font-weight: 700;
  background-color: #E8EEF1;
  border: none;
}

button:hover{
  background-color:#E8E8E8;
  color: #95B2E8;
  font-size: 14px;
  border: .1px solid #95B2E8;
}

#button:active{
  background-color:#95B2E8;
  color: #E8E8E8;
  font-size: 14px;
  border: 2px solid #E8E8E8;
}



hr{
  /* width: 300px; */
  border: 1px solid cornflowerblue;
  margin-top: 1.5rem;
}

li{
list-style-type: none;
margin-bottom: 1.5rem;
/* border: 1px solid gray; */
border-radius: 10px;
padding: 10px;
max-width: 350px;
min-height: 80px;
background-color: #E8EEF1;
box-shadow: 2px 2px 10px #E8E8E8;
}

@media only screen and (max-width: 390px){
  li {
    font-size: 3.5vw;  
  }
}

.moviePoster{
  width: 100px;
  height: 80px;
  float: right;
  border-radius: 5px;
  margin-left: 5px;

}

@media only screen and (min-width: 600px){
  .moviePoster:hover{
    width: 500px;
    height: 400px;
   position:absolute;
   border-radius: 40%;
   box-shadow: 1px 1px 10px;
   top: 33%;
   left: 30%;
  }
}



.movieName{
  font-weight:700;
  font-size:larger
}

.movieRating{
  font-size: x-small;
  font-weight: 700;
}

.movieDetails {
  font-size:small;
  margin-top: 0;
  margin-bottom: 0;
}


